<!DOCTYPE html>
<html lang="en">
<head>
    <script type="text/javascript" src="../../js/jquery.js" ></script>
    <script type="text/javascript" src="../../js/ember-template-compiler.js" ></script>
    <script type="text/javascript" src="../../js/ember.js" ></script>
    <meta charset="UTF-8">
    <title>Document</title>
    <script>
    EmberENV = {
      FEATURES: {
        'ember-htmlbars': true,
        'ember-htmlbars-block-params': true
      }
    }
  </script>
</head>
<body>
  <p>
    closure action 传递参数使用柯里化
  </p>
    <script type="text/x-handlebars" data-template-name="application">
        <h1>application</h1>
        {{x-people action=(action "log") }}
        {{x-people action=(action "log" "template message") }}
    </script>
      
    <script type="text/x-handlebars" data-template-name="components/x-people">
        <h1>x component {{elementId}}</h1>
    </script>
    

    <script>
        App = Ember.Application.create({
          LOG_TRANSITIONS: true,
          LOG_VIEW_LOOKUPS: true
        });

        App.ApplicationController = Ember.Controller.extend({
          actions: {
            log: function(){
              console.log([].slice.apply(arguments, [0, arguments.length]).join('=='))
            }
          }
        });

        App.PeopleMixin = Ember.Mixin.create({
          log: function(action){
            console.log(this.elementId+'==>'+this.hasBlock);
          },
          init: function(){
            this._super.apply(this, arguments);
            this.log();
          },
          click: function(e){
            this.attrs.action('component msg');
          }
        })

        App.XPeopleComponent = Ember.Component.extend(App.PeopleMixin,{

        });

    </script>

</body>
</html>