<h2 id="title">Welcome to Ember</h2>
{{outlet}}

<ul>
    <li>
        {{#link-to "ember-easy-orm" }}ember-easy-orm{{/link-to}}
    </li>
    <li>
        {{#link-to "ember-easy-orm.form" }}form{{/link-to}}
    </li>
</ul>