<h2 id="title">Welcome to Ember</h2>
<ul>
    <li>
        {{#link-to "ember-easy-orm" }}ember-easy-orm{{/link-to}}
    </li>
    <li>
        {{#link-to "ember-easy-orm.form" }}form{{/link-to}}
    </li>
    <li>
        {{#link-to "ember-semantic-ui" }}ember-semantic-ui{{/link-to}}
    </li>
    <li>
        {{#link-to "demo-action" }}cloure-action{{/link-to}}
    </li>
</ul>
<div>
    {{outlet}}
</div>