<!DOCTYPE html>
<html lang="en">
<head>
    <script type="text/javascript" src="../../js/jquery.js" ></script>
    <script type="text/javascript" src="../../js/ember-template-compiler.js" ></script>
    <script type="text/javascript" src="../../js/ember.js" ></script>
    <meta charset="UTF-8">
    <title>Document</title>
    <script>
    EmberENV = {
      FEATURES: {
        'ember-htmlbars': true,
        'ember-htmlbars-block-params': true
      }
    }
  </script>
</head>
<body>
    <p>
      service getOwner
    </p>
    <p>
      <pre>
        /**
        Framework objects in an Ember application (components, services, routes, etc.)
        are created via a factory and dependency injection system. Each of these
        objects is the responsibility of an "owner", which handled its
        instantiation and manages its lifetime.
      
        `getOwner` fetches the owner object responsible for an instance. This can
        be used to lookup or resolve other class instances, or register new factories
        into the owner.
      
        For example, this component dynamically looks up a service based on the
        `audioType` passed as an attribute:
      
        ```
        // app/components/play-audio.js
        import Ember from 'ember';
      
        // Usage:
        //
        //   {{play-audio audioType=model.audioType audioFile=model.file}}
        //
        export default Ember.Component.extend({
          audioService: Ember.computed('audioType', function() {
            let owner = Ember.getOwner(this);
            return owner.lookup(`service:${this.get('audioType')}`);
          }),
          click() {
            let player = this.get('audioService');
            player.play(this.get('audioFile'));
          }
        });
        ```
      
        @method getOwner
        @param {Object} object A object with an owner.
        @return {Object} an owner object.
        @for Ember
        @public
        </pre>
    </p>
    <script type="text/x-handlebars" data-template-name="application">
        <h1>application</h1>
    </script>      
    

    <script>
        App = Ember.Application.create({
          LOG_TRANSITIONS: true,
          LOG_VIEW_LOOKUPS: true
        });

        App.ApplicationController = Ember.Controller.extend({
            people: [
              {firstName: 'Kris', lastName: 'Selden'},
              {firstName: 'Luke', lastName: 'Melia'},
              {firstName: 'Formerly Alex', lastName: 'Matchneer'}
            ],
            actions: {
                changeExternal: function(){
                  this.set('value', new Date());
                }
            }
        });

        App.PeopleModel = Ember.Object.extend({
          name:'hello'
        });

        App.StoreService = Ember.Service.extend({
          createRecord: function(){
            var owner = Ember.getOwner(this);
            console.log(owner);
          }
        })

        var service = App.StoreService.create();
        service.createRecord();

    </script>

</body>
</html>