<!DOCTYPE html>
<html lang="en">
<head>
    <script type="text/javascript" src="../../js/jquery.js" ></script>
    <script type="text/javascript" src="../../js/ember-template-compiler.js" ></script>
    <script type="text/javascript" src="../../js/ember.js" ></script>
    <meta charset="UTF-8">
    <title>Document</title>
    <script>
    EmberENV = {
      FEATURES: {
        'ember-htmlbars': true,
        'ember-htmlbars-block-params': true
      }
    }
  </script>
</head>
<body>
    <p>
      组件中使用this.value 和 this.attrs.value 的区别, 
    </p>
    <p>
      只要组件的调用者传递value到组件，该value 就可以在attrs 上使用，并且是一个 Object {value: undefined, update: function, MUTABLE_CELL [id=__ember14590069877961027428597005]: true}
    </p>
    <script type="text/x-handlebars" data-template-name="application">
        <h1>application</h1>
        {{x-people external=value }}
        {{value}}
    </script>
      
    <script type="text/x-handlebars" data-template-name="components/x-people">
        <h1>x component {{elementId}}</h1>
        <button {{action "changeExternal"}} >change-x-external</button>
    </script>
    

    <script>
        App = Ember.Application.create({
          LOG_TRANSITIONS: true,
          LOG_VIEW_LOOKUPS: true
        });

        App.ApplicationController = Ember.Controller.extend({
            people: [
              {firstName: 'Kris', lastName: 'Selden'},
              {firstName: 'Luke', lastName: 'Melia'},
              {firstName: 'Formerly Alex', lastName: 'Matchneer'}
            ],
            actions: {
                changeExternal: function(){
                  this.set('value', new Date());
                }
            }
        });

        App.PeopleMixin = Ember.Mixin.create({
          actions: {
            changeExternal: function(){
              this.attrs.external.update(new Date());
            }
          },
          didInitAttrs: function(){
            this.log('didInitAttrs');
            console.log('external==>', this.external);
            console.log('attrs.external==>', this.attrs.external);
          },
          didUpdateAttrs: function(){
            this.log('didUpdateAttrs');
          },
          willUpdate: function(){
            this.log('willUpdate');
          },
          willRender: function(){
            this.log('willRender');
          },
          didUpdate: function(){
            this.log('didUpdate');
          },
          didRender: function(){
            this.log('didRender');
          },
          log: function(action){
            console.log(this.elementId+'==>'+action);
          },
        })

        App.XPeopleComponent = Ember.Component.extend(App.PeopleMixin,{
          internal: null,
        });

    </script>

</body>
</html>