<!DOCTYPE html>
<html lang="en">
<head>
    <script type="text/javascript" src="../../js/jquery.js" ></script>
    <script type="text/javascript" src="../../js/ember-template-compiler.js" ></script>
    <script type="text/javascript" src="../../js/ember.js" ></script>
    <meta charset="UTF-8">
    <title>Document</title>
    <script>
    EmberENV = {
      FEATURES: {
        'ember-htmlbars': true,
        'ember-htmlbars-block-params': true
      }
    }
  </script>
</head>
<body>
    <p>
      external value means to this object context is outside of the component
    </p>
    <script type="text/x-handlebars" data-template-name="application">
        <h1>application</h1>
        {{x-people external=value }}
    </script>
      
    <script type="text/x-handlebars" data-template-name="components/x-people">
        <h1>x component {{elementId}}</h1>
        <button {{action "changeExternal"}} >change-x-external</button>
        {{y-people external=internal }}
    </script>
    
    <script type="text/x-handlebars" data-template-name="components/y-people">
        <h1>y component {{elementId}}</h1>
        <button {{action "changeExternal"}} >change-y-external</button>
    </script>
  

    <script>
        App = Ember.Application.create({
          LOG_TRANSITIONS: true,
          LOG_VIEW_LOOKUPS: true
        });

        App.ApplicationController = Ember.Controller.extend({
            people: [
              {firstName: 'Kris', lastName: 'Selden'},
              {firstName: 'Luke', lastName: 'Melia'},
              {firstName: 'Formerly Alex', lastName: 'Matchneer'}
            ],
            actions: {
                changeExternal: function(){
                  this.set('value', new Date());
                }
            }
        });

        App.PeopleMixin = Ember.Mixin.create({
          actions: {
            changeExternal: function(){
              this.set('external', new Date());
            }
          },
          didInitAttrs: function(){
            this.log('didInitAttrs');
            //console.log(this.external);
            //console.log(this.attrs.external);
          },
          didUpdateAttrs: function(){
            this.log('didUpdateAttrs');
            //console.log(this.external);
            //console.log(this.attrs.external);
          },
          willUpdate: function(){
            this.log('willUpdate');
          },
          willRender: function(){
            this.log('willRender');
          },
          didUpdate: function(){
            this.log('didUpdate');
          },
          didRender: function(){
            this.log('didRender');
          },
          log: function(action){
            console.log(this.elementId+'==>'+action);
          },
        })

        App.XPeopleComponent = Ember.Component.extend(App.PeopleMixin,{
          internal: null,
        });

        App.YPeopleComponent = Ember.Component.extend(App.PeopleMixin,{

        })

    </script>

</body>
</html>