{% extends "base.html" %}


{% block body %}
    
    <div class="ui grid">
        <div class="row">
            <a href="/post" class="ui button green" >new</a>
        </div>
    </div>

    <div class="ui items">
        {% for item in result %}
        <div class="item">
            <div class="content">
                <div class="header">
                    <a href="/post/{{item.id}}">{{ item.title }}</a>
                </div>
                <div class="description">
                    {{item.text}}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    
{% endblock %}